body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  font-family: "Montserrat", Helvetica;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #8ab5f5;
  background-image: url("../assets/icons/icons_background.svg");
  background-size: 10rem;
  background-position: center;
  opacity: 0.3;
  transform: rotate(-25deg) scale(1.5);
}

header {
  width: 100%;
  background-color: #222;
  color: #fff;
}
.navbar {
  overflow: hidden;
}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.menu li a {
  display: block;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  padding: 1.5rem 2.5rem;
  border-radius: 0.2rem;
  transition:
    background-color 0.4s ease,
    color 0.4s ease;
}

.menu li a:hover {
  background-color: #ddd;
  color: black;
}

main {
  flex-grow: 1;
  width: 80vw;
  background-color: #ffffff;
  padding: 2rem 5rem;
  border-radius: 1rem;
  opacity: 0.93;
}
h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 600;
  text-align: center;
}

footer {
  width: 100%;
  height: 3vh;
  padding: 1rem;
  background-color: #222;
  color: #eee;
}
